class Config(object):
    DEBUG = False
    TESTING = False
    MONGO_URI = "mongodb://localhost:27017/bandemic"


class ProductionConfig(Config):
    MONGO_URI = "mongodb://localhost:27017/bandemic"


class DevelopmentConfig(Config):
    DEBUG = True
    MONGO_URI = "mongodb://localhost:27017/bandemic"


class TestingConfig(Config):
    TESTING = True
